<h1><%= t('network') -%> Memberships</h1>
<div class="show_basic">
  <% @person.network_memberships.invited.each do |invitation| %>
      <p>
        <%= invitation.network.title %>
        <%= link_to 'Accept', network_member_path(invitation.network, invitation, :network_membership => {:accept => true}), method: :put -%> |
        <%= link_to 'Decline', network_member_path(invitation.network, invitation), method: :delete -%>
      </p>
  <% end %>

  <% if @memberships.empty? %>
      <span class="none_text">You are not a member of any <%= t('network').pluralize -%></span>
  <% else %>
      <% @memberships.each do |membership| %>
          <%= link_to membership.network.title, membership.network %>
          <% if membership.administrator %>
              (Admin)
          <% end %>
          <% if membership.network.owner == @person %>
              (Owner)
          <% end %>
      <% end %>
  <% end %>

</div>
