<%
   members_to_display = 8
%>

<%= list_item_title resource %>

<div class="list_item_whole_width">
  <%= list_item_description resource.description %>
</div>

<div class="list_item_whole_width">
  <h3>Members (<%= (count = resource.members.count + 1) -%>)</h3>
  <% (resource.members.limit(members_to_display - 1) + [resource.owner]).each do |member| %>
      <%= favouritable_icon(member, 60) -%>
  <% end %>
  <% if count > members_to_display %>
      + <%= pluralize((count - members_to_display), 'other') -%>
  <% end %>
</div>
