<%= render :partial => "general/item_title",:locals=>{:item=>@network} %>

<ul class="sectionIcons">
  <% if @network.owner == current_user -%>
      <li><%= image_tag_for_key('edit', edit_project_path(@project), "Edit #{t('project')} Details", nil, "Edit #{t('project')} Details") -%></li>
  <% end -%>
</ul>

<div class="show_basic">

  <div class="main_content_left_box">

    <div class="box_about_actor">
      <%= item_description @network.description -%>
      <p>
        <label>Owner:</label>
        <%= link_to @network.owner.person.name, @network.owner -%>
      </p>
      <% if @network.administrators.any? %>
          <p>
            <label>Administrators:</label>
            <% @network.administrators.each do |admin| %>
                <%= link_to admin.name, admin -%>
            <% end %>
          </p>
      <% end %>
      <p>
        <label>Members:</label>
        <%= @network.members.count -%>
      </p>
    </div>
  </div>

  <div style="clear:both;">
    <%= render :partial=>"general/items_related_to",:object => @network %>
  </div>

</div>
